.bg-right{
    -fx-background-color: #333645;
}

.bg-center{
    -fx-background-color: #eff8ff;
}

.lbl-title{
    -fx-font-size: 14px;
    -fx-text-fill: #eff8ff;
    -fx-font-weight: bold;
}

.JFXText-field{
    -fx-background-color: #262936;
    -fx-background-radius: 10px;
    -fx-text-fill: #eff8ff;
}

.logo-cadastro {
    -fx-background-image: url("../images/logo_branco.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.btn-cs-padrao{
    -fx-background-color: #7088ff;
    -fx-background-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #333645;
    -fx-font-size: 14px;
}

.btn-cs-padrao:hover{
    -fx-background-color: #BCC8FF;
}

.noEditable {
    -fx-opacity: 0.6;
}
/*-fx-background-color: #7088ff;*/