.background-border-left {
    -fx-background-color: #333645;
}

.background-border-center {
    -fx-background-color: #eff8ff;
}

.btn-cs-padrao {
    -fx-background-color: #7088ff;
    -fx-background-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #333645;
    -fx-font-size: 16px;
}

.btn-cs-padrao:hover {
    -fx-background-color: #BCC8FF;
}

.btn-cs-secundario {
    -fx-background-color: #262936;
    -fx-background-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.btn-form-infos {
    -fx-background-color: #999;
    -fx-background-radius: 10;
    -fx-padding: 2 5 2 5;
}

.btn-cs-secundario:hover {
    -fx-background-color: #3C4052;
}

.lbl-titulo {
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 30px;
}

.lbl-subtitulo {
    -fx-font-weight: bold;
    -fx-text-fill: #7088ff;
    -fx-font-size: 20px;
}

.JFXText-field {
    -fx-font-size: 18px;
}

.lbl-dados {
    -fx-text-fill: #4d4d4d;
    -fx-font-size: 20px;
}

.box-simple-border {
    -fx-border-style: solid;
    -fx-border-color: #999;
    -fx-border-width: 3;
    -fx-border-radius: 5;

}

.Vbox-background-purples {
    -fx-background-color: #7088ff;
    -fx-background-radius: 5px;
}

.Vbox-background-gray {
    -fx-background-color: #EFF8FF;
    -fx-background-radius: 5px;
}

/*Scrollpane to invisible color*/
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 16.5;
    -fx-padding: 3;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: #333645;
    -fx-border-color: transparent;
    -fx-background-radius: 5;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #7088ff;
    -fx-background-insets: 3, 0, 0;
    -fx-background-radius: 5;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.separator-line {
    -fx-border-color: #999;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

/*.dialog-accept {
    -fx-background-color: #7088ff;
    -fx-text-fill: #333645;
    -fx-font-weight: BOLD;
}

.dialog-nao {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-font-weight: BOLD;
}*/

.haa {

}

DatePicker {
    -fx-border-color: black;
    -fx-background-color: transparent;
    -fx-border-width:  0 0 1 0;
}
DatePicker > .arrow-button {
    -fx-background-color: transparent;


}

DatePicker > .arrow-button  > .arrow {
    -fx-background-color: black;
    -fx-background-insets: 1 1 1 1;
    -fx-padding: 10px;
}


.date-picker > .text-field {
    -fx-background-color: transparent;

    -fx-background-insets: 1 0 1 1;
    -fx-background-radius: 2 0 0 2;
}

.date-picker:focused > .text-field,
.date-picker > .text-field:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 1 0 1 1, 1 0 1 1, 3 2 3 3;
    -fx-background-radius: 2 0 0 2, 1 0 0 1, 0;
}