.home-background {
    -fx-background-image: url("../images/home_background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
}

.btn-relatar-morte {
    -fx-text-fill: #ffffff;
    -fx-background-color: #ff0000;
}

/*.btn-relatar-morte:hover {
    -fx-background-color: #c50000;
}*/

.button.entrar{
    -fx-background-color: #7088ff;
    -fx-text-fill: white;
}

.toggle-button:active{
    -fx-background-color: #7088ff;
}

.background-login{
    -fx-border-radius: 20px;
    -fx-border-color: #333645;
    -fx-border-width: 3;
}

.background-title-login{
    -fx-background-radius: 15px 15px 0px 0px; /* top esquerdo, top direito, bottom direito, bottom esquerdo */
    -fx-background-color: #333645;
    -fx-alignment: center;
}

.label.login{
    -fx-text-fill: white;
    -fx-font-size: 25px
}

.text-field{
    -fx-font-weight: bold;
    -fx-font-size: 15;
}